.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f2f2f2; /* Light background color */
}

.mat-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /* overflow: hidden; Prevent content overflow */
}

.mat-card-content {
    padding: 24px;
}

.mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Enable horizontal scroll for wide tables */
}

.mat-header-cell,
.mat-cell {
    padding: 16px;
    text-align: left;
    border-bottom: 2px solid #ddd; /* Lighter border */
    font-size: 14px;
}

.mat-header-cell {
    font-weight: bold;
    background-color: #f5f5f5; /* Light gray background for header cells */
    color: #555; /* Darker text color */
    text-transform: uppercase;
}

.mat-row:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row background color */
}

.mat-row:hover {
    background-color: #f0f0f0; /* Hover color */
}

.mat-menu-panel {
    padding: 8px;
    background-color: #fff; /* Menu background color */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-menu-item {
    padding: 8px 16px;
    display: block;
    cursor: pointer;
}

.mat-menu-item:hover {
    background-color: #f5f5f5; /* Hover color for menu items */
}

button.mat-raised-button {
    min-width: 120px;
    margin-right: 8px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button.mat-raised-button:hover {
    background-color: #3f51b5; /* Darker background color on hover */
    color: #fff; /* Light text color on hover */
}

/* Add this CSS to position the paginator at the bottom */
.mat-paginator {
    margin-top: 20px; /* Add some space between the table and the paginator */
    display: flex;
    justify-content: center;
}